<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test_bottom_navbar">
    <!--
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <permission
        android:name="com.example.googlemapdemo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_Bottom_navbar">
        <activity
            android:name=".ui_bar.CheckLocatUserActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".admin.ListDistrictClusterActivity"
            android:exported="false" />
        <activity
            android:name=".ui_bar.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ListNewsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditNewsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddNewsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ListMohpromActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditMohpromActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddMohpromtActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".admin.LoginActivity" />
        <activity android:name=".admin.Mainpage_admin" />
        <activity android:name=".admin.AddClusterActivity" />
        <activity android:name=".admin.ListRiskAreaActivity" />
        <activity android:name=".admin.EditClusterActivity" />
        <activity android:name=".ui_bar.MohpromtActivity" />
        <activity
            android:name=".ui_bar.BottomNav"
            android:exported="false"
            android:label="@string/title_activity_bottom_nav"
            tools:ignore="MissingClass" />
        <activity
            android:name=".ui_bar.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>